/* *{
    margin:0;
    padding: 0;
    box-sizing: box;
}
body {
    background-image: url(images/bim.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
#container {
    width: 500px;
    background-color: lightgray;
    color: white;
    padding: 20px;
    margin: 50px, auto;
    border-radius: 10px;
    text-align: center;
    
}

.srch {
    height: 50%;
    width: 50%;
} */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{

    background-image: url('images/bim.gif');
    background-repeat: no-repeat;
    background-size: cover;
}



.container{
  width: 450px;
  background-color: rgb(66, 119, 211);
  color:white;
  padding: 20px;
  margin: 50px auto;
  border-radius: 10px;
  text-align: center;
}
.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input {
    border: 0;
    outline: 0;
    padding: 12px 22px;
    flex: 1;
    margin-right: 20px;
    border-radius: 30px;
    font-size: 18px;
    background-color: lightcyan;
    color: black;
}
.search button {
  border: 0;
  outline: 0;
  background-color: rgb(233, 240, 240);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}
.search button img {
    width: 20px;
}
.weather .icon{
    margin-top: 15px;
    width: 100px;
}
.weather h1{
    font-size: 50px;
    font-weight: 500;
}
.weather h2{
    font-size: 35px;
    font-weight: 400;
}
.detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
    
}
.col img{
    width: 75px;
    margin-right: 12px;
}
.humidity, .wind{
    font-size: 20px;
}
.error{
    text-align: left;
    color:rgba(214, 228, 23, 0.742);
    margin-top: 8px;
    margin-right: 5px;
    display: none;
}